// Import Bulma's core
@import "~bulma/sass/utilities/_all";

/*
 * Colours
 */

// -- Prime colours
$white: rgb(255, 255, 255);
$white-invert: findColorInvert($white);
$dark: rgb(21, 21, 34);
$dark-invert: findColorInvert($dark);
$grey-light: rgb(249, 248, 250);
$grey-light-invert: findColorInvert($grey-light);

$grey-40: rgb(79, 70, 94);
$grey-40-invert: findColorInvert($grey-40);
$grey-60: rgb(115, 115, 122);
$grey-60-invert: findColorInvert($grey-60);
$grey-90: rgb(226, 222, 233);
$grey-90-invert: findColorInvert($grey-90);

$yellow: rgb(246, 211, 101);
$yellow-invert: findColorInvert($yellow);
$purple: rgb(58, 34, 93);
$purple-invert: findColorInvert($purple);
$pink: rgb(200, 55, 96);
$pink-invert: findColorInvert($pink);
$orange: rgb(225, 82, 74);
$orange-invert: findColorInvert($orange);

// -- Semantic colours
$blue: rgb(55, 93, 200);
$blue-invert: findColorInvert($blue);
$green: rgb(55, 200, 139);
$green-invert: findColorInvert($green);
$gold: rgb(200, 148, 55);
$gold-invert: findColorInvert($gold);
$red: rgb(200, 55, 55);
$red-invert: findColorInvert($red);

// -- Setup $colors to use as bulma classes (e.g. 'is-primary')
$colors: ("white": ($white, $dark),
  "black": ($dark, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($purple, $purple-invert),
  "secondary": ($yellow, $yellow-invert),
  "info": ($blue, $blue-invert),
  "success": ($green, $green-invert),
  "warning": ($gold, $gold-invert),
  "danger": ($red, $red-invert),
);


/*
 * Typography
 */

$family-sans-serif: "Open Sans",
sans-serif;
$family-monospace: monospace;
$render-mode: optimizeLegibility;
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;


/*
 * Miscellaneous
 */

// Radii
$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 290486px;


/*
 * Elements
 */

// Control elements
$control-border-width: 2px;

// Links
$link: $pink;
$link-invert: $pink-invert;
$link-light: lighten($link, 30%);
$link-dark: darken($link, 30%);
$link-visited: $purple;

$link-hover: $link-light;
$link-hover-border: $link-light;

$link-focus: $link-light;
$link-focus-border: $link-light;

$link-active: $link;
$link-active-border: $link;
